/*$colorPrimario: #21605d;
$colorSecundario: #339476;
$colorTerciario: #87e1c7;
$colorFuente: #eaebed;*/

$colorPrimario: #2d8d79;
$colorSecundario: #5e9387;
$colorTerciario: #8fc79a;
$colorFuente: #eaebed;


$boton:(bordes:0,
        padding: 5px 5px,
        radio: 10px,
        ancho: 120px,
        );