/*$colorPrimario: #42506b;
$colorSecundario: #ef4b4c;
$colorTerciario: #3e619b;
$colorFuente: #e9e9eb;*/

/*$colorPrimario: #fa4753;
$colorSecundario: #17181c;
$colorTerciario: #ffffff;
$colorFuente: #9ba5c9;*/

/*$colorPrimario: #ff6d00;
$colorSecundario: #ff9201;
$colorTerciario: #ffab41;
$colorFuente: #ffffff;*/

/*$colorPrimario: #fd6b5b;
$colorSecundario: #076473;
$colorTerciario: #cddfcf;
$colorFuente: #fafafa;*/

$colorPrimario: #21605d;
$colorSecundario: #339476;
$colorTerciario: #87e1c7;
$colorFuente: #eaebed;